.main-submit {
  h3,
  h5,
  p,
  label,
  .ant-radio-wrapper > span {
    color: #223052;
  }
  .ant-radio-wrapper > span {
    font-size: 18px;
  }
  input,
  textarea {
    border: 1.5px solid #223052;
    border-radius: 8px;
  }
  input.ant-select-selection-search-input {
    border: 1.5px solid #223052 !important;
    border-radius: 8px !important;
  }
  .super-title {
    text-align: center;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: -0.01em;

    /* Old/Old_style/cl-text */

    color: #223052;
  }
  p.top {
    color: #788096 !important;
    font-size: 20px;
  }
  .suggested {
    font-size: 16px;
    letter-spacing: -0.01em;
    /* Old/Old_style/Button */
    color: #058499;
  }
  .green {
    color: #058499;
  }
  .light-grey {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #b1b5c3 !important;
  }
  .kindoftitle {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: 20px !important;
    letter-spacing: -0.01em;

    /* Old/Old_style/cl-text */

    color: #223052;
  }
  .maximum {
    font-size: 16px;
  }
  .highquality {
    font-size: 18px;
  }
  .jpgpng {
    color: #6E778E;
  }
  .dappdotcom {
    color :#6F788F !important;
    font-size: 20px;
  }
  @include sm {
    padding: 0 5px;
  }
  .label-input {
    display: block;
    font-size: 1.2rem;
  }
  &-email {
    width: 50%;
    @include sm {
      width: 100%;
    }
  }

  &-text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 1.5px solid #223052;
    border-radius: 8px;
  }
  &-char-counter {
    padding-right: 10px;
    padding-left: 10px;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;

    /* Old/Old_style/cl-text */

    color: #223052;

    &-error {
      padding-right: 10px;
      padding-left: 10px;
      color: red;
      font-family: "Circular Std";
      font-style: normal;
      font-weight: 450;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      letter-spacing: -0.01em;

      /* Old/Old_style/cl-text */
    }
  }
}
